<div class="settings-dialog">
    <form [formGroup]="userSettingsForm">
        <mat-form-field appearance="fill" class="ip">
            <mat-label>Current IP Address</mat-label>
            <input matInput matTextareaAutosize formControlName="currentIp" />
        </mat-form-field>

        <div class="button-group">
            <button
                mat-button
                color="primary"
                (click)="clearIpFromCache()"
                matTooltip="Remove IP from cache"
            >
                Clear IP
            </button>
            <button mat-button color="warn" (click)="closeDialog()">
                Close
            </button>
        </div>
    </form>
</div>
