<div class="center">
    <p>Please enter address to your local server:</p>
    <form class="ip-form" [formGroup]="addressForm" (ngSubmit)="onSubmit()">
        <mat-form-field [hideRequiredMarker]="true">
            <mat-label>Server Address</mat-label>
            <input matInput formControlName="address" />
        </mat-form-field>

        <p>
            <mat-checkbox formControlName="savePrompt"
                >Save this information for this session?</mat-checkbox
            >
        </p>

        <button mat-flat-button type="submit" [disabled]="!addressForm.valid">
            Save
        </button>
    </form>
</div>
